spring:
    config:
        import: optional:file:.env[.properties]
    main:
        allow-circular-references: true
    application:
        name: bms
    datasource:
        url: ${DB_URL}
        username: ${DB_USERNAME}
        password: ${DB_PASSWORD}
    jpa:
        properties:
            hibernate:
                jdbc:
                    lob:
                        non_contextual_creation: true
                # dialect: org.hibernate.dialect.PostgreSQLDialect
        hibernate:
            ddl-auto: create


bms:
    app:
        jwtSecret: ${BMS_APP_JWT_SECRET}
        jwtExpirationMs: ${BMS_APP_JWT_EXPIRATION}
